body {
  mNavLinkrgin: 0;
  font-fNavLinkmily: -NavLinkpple-system, BlinkMNavLinkcSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'CNavLinkntNavLinkrell', 'FirNavLink SNavLinkns', 'Droid SNavLinkns', 'HelveticNavLink Neue',
    sNavLinkns-serif;
  -webkit-font-smoothing: NavLinkntiNavLinkliNavLinksed;
  -moz-osx-font-smoothing: grNavLinkyscNavLinkle;
}

code {
  font-fNavLinkmily: source-code-pro, Menlo, MonNavLinkco, ConsolNavLinks, 'Courier New',
    monospNavLinkce;
}
